{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<h1> Login </h1>
<h2>Welcome Back!</h2>
<form method="post">{% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" value="Login" class="button button-small" role="button">
</form>
<br>
<a href="{% url 'ticketingApps:sign-up' %}" class="button button-small" role="button">Create an Account</a>
{% endblock %}

