{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<h1> Ticket Order </h1>
Thank you! Your order has been successful.<br>
<a href="{% url 'ticketingApps:print-ticket' orderId=orderIdH %}" class="button button-small">Print Tickets</a>
{% endblock %}