{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
{% load qr_tags %}
<h3>All Tickets</h3>
{% for order2 in object_list %}
    {% if valid %}
    {% with order2.order_of.all|first as seat %}
    <h4>Order {{order2.orderid}}</h4>
    <ul>
    <li> Theater: {{seat.showing.room.theater.theatername}} </li>
    <li> Movie: {{seat.showing.movie.movietitle}} </li>
    <li> Room Number: {{seat.showing.room.roomnumber}} </li>
    <li> Time: {{seat.showing.time}} </li>
    <li> Confirmation Number: {{order2.orderid}} </li>
    <li> Cost: ${{order2.cost}}</li>
    {% endwith %}
    <br>
    {% for priceBundle in order2.pricepointbundle_set.all %}
        {% if priceBundle.quantity is not 0 %}
        <li>{{priceBundle.pricepoint.name}}: {{priceBundle.quantity}} ticket{% if priceBundle.quantity is not 1 %}s{% endif %}</li>
        {% endif %}
    {% endfor %}
    <br>
    {% for seat in order2.order_of.all %}
    <li>Row: {{seat.seatrow}}, Seat: {{seat.seatcol}} </li>
    {% endfor %}
    </ul>
    {% qr_from_text order2.qrcodetext 'l' %}
    {% endif %}
    <br>
    <a href="{% url 'ticketingApps:print-ticket' orderId=order2.orderid %}" class="button button-small">Print the Tickets for the Order Above</a>
    <br><br>
    {% empty %}
     No tickets yet.
{% endfor %}
<div class="pagination" style="justify-content: center">
		<span class="step-links">
			{% if page_obj.has_previous %}
				<a class="button button-small" href="?page=1">&laquo; first</a>
				<a class="button button-small" href="?page={{ page_obj.previous_page_number }}">previous</a>
			{% endif %}
	
			<span class="current">
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
			</span>
	
			{% if page_obj.has_next %}
				<a class="button button-small" href="?page={{ page_obj.next_page_number }}">next</a>
				<a class="button button-small" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
			{% endif %}
		</span>
	</div>
{% endblock %}
