{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
{% if valid %}

<form action="{% url 'ticketingApps:charge' %}" method="post">
    {% csrf_token %}
    <h2> Confirm Your Order </h2>
    You are buying <b>{{numberTix}}</b> tickets to {{showingP.movie.movietitle}}.<br>
    The cost will be <b>${{cost}}</b>.<br>
    Your seats will be reserved for you for 8 minutes.<br>
    <input type="hidden" name="cost100" id="cost100" value="{{cost100}}">
    <input type="hidden" name="orderId" id="orderId" value="{{order.orderid}}">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ key }}"
        data-description="A Movie Ticket Charge"
        data-amount="{{cost100}}"
        data-locale="auto">
    </script>
</form>
{% else %}
Those seats are no longer available.
{% endif %}
{% endblock %}