{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<h3> Pricings List </h3>
	{% for group in pricinggroup_list %}
    <h5>{{group.name}}:</h5>
    <table>
    {% for price in group.pricepoint_set.all %}
    <tr>
		<td>{{price.name}}: ${{price.price}}</td>
    </tr>
    {% endfor %}
    </table>
    <br>

	{% empty %}
		<tr> No showings yet. </tr>
  {% endfor %}
  <div class="pagination" style="justify-content: center">
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a class="button button-small" href="?page=1">&laquo; first</a>
          <a class="button button-small" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
    
        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
    
        {% if page_obj.has_next %}
          <a class="button button-small" href="?page={{ page_obj.next_page_number }}">next</a>
          <a class="button button-small" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
{% endblock %}