{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<h3> Promo Code List </h3>
    {% for promo in promocode_list %}
    For {{promo.theater.theatername}}: <b>{{promo.code}}</b> gives {{promo.percent}}% off. <div> </div> <a href="{% url 'ticketingApps:promo-code-delete' pk=promo.id %}" class="button button-small" style="display:inline">Delete Code</a>
    <br><br>
    {% empty %}>
		<tr> No showings yet. </tr>
  {% endfor %}
  <div class="pagination" style="justify-content: center">
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a class="button button-small" href="?page=1">&laquo; first</a>
          <a class="button button-small" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
    
        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
    
        {% if page_obj.has_next %}
          <a class="button button-small" href="?page={{ page_obj.next_page_number }}">next</a>
          <a class="button button-small" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
{% endblock %}