{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<h3> Add Theater </h3>
<form method="post">{% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <input type="submit" value="Save" class="button button-small">
    {% endbuttons %}
</form>
{% endblock %}